<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zou0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,49},{45,63}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{45,63}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>zou0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{45,63}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{45,63}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>zou0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>zou0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{45,63}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{45,63}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64fbe52a6903ecd3009d86cb4798d538:1/1$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
