<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yao0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,49},{45,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>yao0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,203},{45,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>yao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,136},{45,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>yao0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,69},{45,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>yao0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{45,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>yao0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{45,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>yao0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{45,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>yao0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{45,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>yao0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{45,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>yao0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{45,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>yao0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yao.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4ee2cd98910b2fa8a2b5422b3b5c941:1/1$</string>
            <key>textureFileName</key>
            <string>yao.png</string>
        </dict>
    </dict>
</plist>
